
html
    -webkit-font-smoothing antialiased

body
    font-family 'Helvetica', Helvetica, Arial, sans-serif
    line-height 1.5em
    // color #333
    background-color #eee
br
    line-height 1.5em

hr
    border none
    border-bottom 1px solid #dddcdc
    margin 15px 0 15px 0

*
    vertical-align top
    vertical-align baseline







// for i in 1..6
//     h{i}
//         display inline

for i in 1..6
    h{i}
        margin-top (.5em - ((i - 1)/10))
        margin-bottom (1em - ((i - 1)/5))

// for i in 1..6
//     h{i}
//         margin-top (.5em - ((i - 1)/10))
//         margin-bottom (1em - ((i - 1)/5))
// for i in 1..6
//     h{i}
//         margin (.5em - ((i - 1)/10)) auto (1em - ((i - 1)/5)) auto
//         font-size (.5em + (1em - ((i - 1)/7.5)))

h1
    font-size 1.5em
h2
    font-size 1.25em
h3
    font-size 1.1em
h4
h5
h6
    font-size 1.01em



// // common
// h1,h2,h3
// th
//     font-weight normal
// h1
//     font-size 2em
// h2
//     font-size 1.5em
// h3
//     font-size 1.2em
// th
//     font-size 1em



.container
    text-align center
    > *
        text-align left



a.glyphicon
    cursor pointer

.btn.btn-xs.glyphicon
    // display none
    font-size .6em




small
    font-size .8em









