header.top.bar
    position relative
    background WhiteSmoke
    border-bottom 1px solid #E5E5E5
    > *
        margin-left 1em
        margin-right 1em
    *
        display inline-block
        margin .25em
        padding .25em

    .logo
        background url('/img/logo.png')
        background-size 80px 60px
        background-position 50%
        background-repeat no-repeat
        margin 0
        padding 0
        a
            display block
            width 50px
            height 50px
    .right
        position absolute
        right 0
        top 0