form.login, form.register, form.logout, form.user
    border 1px solid #D8DEE2
    border-radius 3px
    margin 3em
    padding (@margin/2)
    display inline-block
    > *
        display: block
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.075)
    header
        border 1px solid #768995
        margin -(@padding)
        margin-bottom (@padding/1.5)
        padding (@padding/2)
        background #829AA8
        color white
        font-weight bold
    label
        font-size .85em
    input:not([type="submit"])
        margin-bottom (@padding/1.5)
        border-radius 3px
        border-color: #51A7E8
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.1)
        border: 1px solid #CCC
        padding (@padding/3)
    input[type="submit"]
        margin-top (@padding)
        padding (@padding/3)
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9)
        border: 1px solid #D5D5D5
        border-radius: 3px
    input[type="submit"]:hover
        text-decoration: none
        background-color: #DDD
        background-image: linear-gradient(#EEE, #DDD)
        background-repeat: repeat-x
        border-color: #CCC
    input[type="submit"]:focus
        outline: medium none
        box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.5)
