
.login#body
    background white
    padding 1em
    display inline-block
    margin auto
    margin-top 10%
    width 60%
    max-width 400px
    display block
    border 1px solid lightgray
    duration-picker
        display none
    .or
        display block
        text-align center
        text-transform: uppercase;
        color rgb(120,120,120)
        font-family: times
        font-size .75em
        margin: 1em
    .or:before
    .or:after
        content ''
        display inline-block
        border-top 1px solid rgb(200,200,200)
        margin-bottom: .4em
        width 33%
    .or:before
        margin-right: 1em
    .or:after
        margin-left: 1em
