// reset


label
    font-weight normal
.glyphicon
    font-family inherit
.glyphicon:before
    font-family 'Glyphicons Halflings'
    margin-right 2px

blockquote,q
    quotes none
blockquote:before,blockquote:after,q:before,q:after
    content none
:focus
    outline 0
ins
    text-decoration none
del
    text-decoration line-through
table
    border-collapse collapse
    border-spacing 0
