bc-single.add.collapsed
    display inline-block
    position absolute
    right 0
    top 0
    header:after
        content 'Add +'
bc-single.add.expanded
    margin-bottom 1em


#body > bc-single
    margin 1em


bc-single
    display block
    background white
    border-top 1px solid lightgray
    border-right 1px solid lightgray
    border-left 1px solid lightgray
    // margin .3em 1em
    margin-top .4em
bc-single.expanded
    border-bottom 1px solid lightgray

bc-single header
    font-weight bold
    padding .1em
    padding-left .3em
    border-bottom 1px solid lightgray
    position relative
    display block
    min-width 4em
    min-height 1.6em
bc-single header:after
    position absolute
    right .5em


bc-multiple bc-single header
    cursor pointer

bc-multiple bc-single.collapsed header:after
    content '+'
bc-multiple bc-single.expanded header:after
    content '–'
