masthead
    display flex
    align-items flex-end
    align-items baseline
masthead > *
    margin .5em
    flex 1 0 auto
masthead .logo
    flex 1 100%

masthead img
    max-height 1.5em


masthead
    background-color rgb(230, 230, 230)
    border-bottom 1px solid rgb(200, 200, 200)
// masthead
//     background-color rgb(230,230,230)
// masthead
//     background-color black
//     // background-image url('bg-menu-container.png')
//     color rgb(200,200,200)
//     a
//         color rgb(150,150,255)
//     a:hover
//         color rgb(150,150,255)

