//- script(src="/socket.io/socket.io.js")
//- if(resources.client.js)
//-     each js in resources.client.js
//-         script(src="/#{js}")

include partials/header
div Hello World!
include partials/footer