.err(ng-show='err') {{err}}

form.local(action='/login' method='post' ng-submit='submit($event)')

    .login(ng-if='!newuser')
        label(for='user') User
        input(name='user' ng-model='form.user' id='user' placeholder='username or email' required tabindex=1)
        br

    .newuser(ng-if='newuser')
        label(for='username') Username
        input(name='username' type='username' ng-model='form.username' id='username' placeholder='username123' required tabindex=1)
        br
        label(for='email') Email
        input(name='email' type='email' ng-model='form.email' id='email' placeholder='email@address.com' required tabindex=1)
        br


    .password(ng-if='!newuser')
        label(for='password') Password
        input(type='password' name='password' ng-model='form.password' id='password' placeholder='•••••••' required tabindex=1)
        a(href='/forgot-password' tabindex=2) forgot password?
    .newuser(ng-if='newuser')
        label(for='password') Password
        input(type='password' name='password' ng-model='form.password' id='password' placeholder='•••••••' required tabindex=1
            onchange='document.getElementById("conpassword").setCustomValidity(document.getElementById("conpassword").value!=this.value?"Passwords do not match":"")')
        label(for='conpassword') Confirm Password
        input(type='password' id='conpassword' placeholder='•••••••' tabindex=1 required
            onchange='this.setCustomValidity(document.getElementById("password").value!=this.value?"Passwords do not match":"")')
    br

    input(name='rememberme' type='hidden' ng-value='rememberme')
    input(type='checkbox' ng-model='form.rememberme' ng-init='form.rememberme=true' id='rememberme' tabindex=2)
    label(for='rememberme') Remember me {{form.rememberme?(forever?'':'for '):''}}
    duration-picker(ng-show='form.rememberme' ng-init='output=form' name='remembermeinterval' default='forever' max='forever' placeholder='duration')
    br

    button(tabindex=1) {{newuser?'Register':'Login'}}

    a(href='#' ng-click='newuser=!newuser') {{newuser ? 'Login' : 'Register'}}

.or or

a.google(href='/login/google' tabindex=1) Login via Google

