button.save.btn.btn-default.btn-sm.glyphicon(ng-click='save($event)' ng-class='{"glyphicon-floppy-disk":!saved, "glyphicon-floppy-saved":!!saved}') #[span Save{{!saved?'':'d'}}]
button.revert.btn.btn-default.btn-sm.glyphicon.glyphicon-floppy-remove(type='button' ng-show='changed' ng-click='revert($event)') #[span Revert]
