button.btn.btn-default.btn-xs.previous.paginate_button.glyphicon.glyphicon-backward(type='button' ng-if='shouldPrev()' ng-click='goPrev()')
span  {{text()}}
button.btn.btn-default.btn-xs.next.paginate_button.glyphicon.glyphicon-forward(type='button' ng-if='shouldNext()' ng-click='goNext()')
